.transaction-item {
  display: flex;
  border-bottom: 1px solid #ced4da;
  align-items: center;
  height: 120px;
}

.transaction-color {
  width: 5px;
  height: 100%;
}

.transaction-type {
  font-size: 0.9rem;
  color: #ced4da;
}

.merchant-name {
  font-size: 1.1rem;
}
