@import "../../bb-ui/styles/vars";

.input-group-container {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;

  label {
    margin-bottom: 10px;
  }
}

.from-account-input {
  font-size: 0.9rem;
  // font-style: italic;
}

.input-has-error {
  border: 1px solid #dc3645;
}
